<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">EduPulse</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/courses">Courses</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <% if (user) { %>
                    <% if (user.role === 'student') { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/student/dashboard">Dashboard</a>
                        </li>
                    <% } else if (user.role === 'creator') { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/creator/dashboard">Creator Dashboard</a>
                        </li>
                    <% } else if (user.role === 'admin') { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/dashboard">Admin Dashboard</a>
                        </li>
                    <% } %>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile"><%= user.name %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav> 